.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,rgb(78, 93, 236),rgb(178, 58, 189));
    color: white;

    .login-card{
        width: 550px;
        background-image: linear-gradient(to bottom right,rgb(168, 82, 218) ,rgb(78, 93, 236));
        border-radius: 15px;
        padding: 40px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .header{
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        
        .header-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.5rem;
            width: 3.5rem;
            border: 1px solid white;
            border-radius: 50%;

            .person-icon{
                font-size: 40px;
            }
        }

        .text-sign-in{
            width: 100%;
            display: flex;
            justify-content: space-around;

            .before-sign-in{
                width: 30%;
                border-top: 1px solid white;
                transform: translateY(50%);
            }
            
        }

    }

    .user_input{
        form{
            .input-container{
                position: relative;

                .input-icon{
                    position: absolute;
                    left: 15px;
                    font-size: 30px;
                }


                &>input{
                    
                    width: 100%;
                    margin: 5px 0px 5px 0px;
                    padding:10px 55px;
                    margin: 10px 0;
                    font-size: 1.6rem;
                    border-radius: 30px;
                    border: none;
                    color: white;
                    background-color: rgb(122, 64, 214);
                    box-shadow: rgb(0, 0, 0, 0.20) 0px 5px 15px;
                        
                    &:focus{
                        outline: none;
                    }

                    &::placeholder{
                        color: white;
                    }
                }

                .valid , .invalid{
                    position: absolute;
                    right: -35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &__icon{
                        font-size: 2rem;
                    }
                }

                .valid{
                    &__icon{
                        color: rgb(0, 255, 0);
                    }
                }

                .invalid{
                    &__icon{
                        color: rgb(255, 0, 0);
                    }
                }
            }
            
            div{

                display: flex;
                justify-content: center;
                align-items: center;

                button{
                    width: 60%;
                    padding: 10px 12px;
                    margin: 10px 0;
                    font-size: 1.2rem;
                    border-radius: 30px;
                    border: none;
                    color: rgb(43, 42, 42);
                    background-color: rgba(255, 166, 0, 0.945);
                    
        
                    cursor: pointer;
                    text-transform: uppercase;
                
                    &:focus{
                        outline: none;
                    }

                    &:hover{
                        filter: brightness(80%);
                    }

                    &:disabled{
                        background-color: rgba(182, 182, 182, 0.945);
                    }


                }


            }
            
        }

    }

    .remember-forgot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 0 2px;

        .forgot-password{
            a{
                text-decoration: none;
                color: white;
            }
        }
    }

    .new-account{
        margin-top: 4rem;

        .line-break{
            color: white;
            width: 100%;
            margin: 1rem 0;
        }

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: orange;
                text-decoration: none;
                margin: 0 4px;
            }
        }
    }

    .hide{
        display: none;
    }

    .err_deatils{

        p.instructions{
            width: 100%;
            // border: 1px solid red;
            padding: 4px 5px;
            display: flex;
            align-items: center;

            .err_icon{
                width: 40px;
                height: 40px;
                // border: 1px solid red;
            }

        }
    
        p.offscreen{
            position: absolute;
            opacity: 0;
            top: 0;
        }
    }
  
    
}